<nav class="c-navbar">
    <ul class="c-dropdown">
        <li class="c-dropdown__item"><a [routerLink]="['/login']" routerLinkActive="router-link-active"
                class="c-dropdown__link">Entrar</a></li>
        <li class="c-dropdown__item"><a [routerLink]="['/register']" routerLinkActive="router-link-active"
                class="c-dropdown__link">Cadastrar</a></li>
        <li class="c-dropdown__item">
            <a class="c-dropdown__link">Perfil</a>
            <ul class="c-dropdown__submenu">
                <li class="c-dropdown__submenu-item">
                    <a href="" class="c-dropdown__submenu-link">Idioma</a>
                </li>
                <li class="c-dropdown__submenu-item">
                    <a href="" class="c-dropdown__submenu-link">Modo Claro</a>
                </li>
                <li class="c-dropdown__submenu-item">
                    <a href="" class="c-dropdown__submenu-link">Sair</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>